<header class="bg-white">
     <div class="py-3">
        <a href="/">
        <div class="text-4xl font-bold px-0 ml-2">
            <!--The 5 Day Shenzhen Visa-->
        </div>
        <div class="text-xl font-simibold py-2 ml-2 ">
              <!--...demystified-->
        </div>
        </a>
        <div class="py-3 flex items-center justify-center">
            <a href="/">
          <picture>
                <source srcset="/uploads/semmellogo.webp" type="image/webp">
                <source srcset="/uploads/semmellogo.jpg" type="image/jpeg">
                <img src="/uploads/semmellogo.jpg" alt="Dark Raw" width="2000" height="256">
            </picture>
        </a>
        </div>
    </div>
</header>