<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="{{ .Site.BaseURL}}css/page.css" as="style">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{ partial "meta.html" .}}  {{ if isset .Params "author" }}
<meta name="author" content="{{ .Site.Params.author }}">{{ end }}
<meta name="robots" content="index,follow">

{{ $styles := resources.Get "/css/style.css" | postCSS }}

{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}"/>
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
{{ end }}
